
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.logo{
    padding: 3px;
    height: 50px;
}

.list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        gap: 7px;

}


.nav{

    
   
    
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    color: rgb(1, 5, 8);
    align-items:center;
    padding: 5px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    position: absolute;

}


.mm{

    color: azure;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    
}

.cntrbtn{
    
    border-radius: 50px;
    width: 70%;
    text-align: center;
    justify-content: baseline;
    padding: 20px;
    height: 3px;
    float: left;    
    position: absolute;
    align-content: center;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(44, 70, 92);
    
}

.ppp{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 1px;
}

.lkj{
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap:13px;
    align-items: center;
    justify-content: center;
    
}
.lkj input{

    padding: 5px;
}


/* .btn{
    
} */

.mainface{
    height: 1000px;
    width: 100%;
    background-color: aqua;
}

.qwe{
    position: absolute;
    top:105px;
    left: 295px;
    height: 260px;
    width: 400px;
    background-color: rgb(154, 84, 219);
    border-radius: 10px;

    
}


.qwe::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #ffeda0 0%, #ffa585 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.qwe::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
